<!doctype html>
<html>
    <head>
        <title>Video Based Attendance</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style>
        body         { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-plus"></span> Add Attendance</h1><br>
                <label>Name : <%= stud.name %></label><br>
                <label>Username : <%= stud.username %></label><br>
                <form method="post">
                    <div class="form-inline">
                        <label>Date : </label>
                        <input type="date" name="date" class="form-control">
                    </div>
                    <br>
                    <% for (i = 0; i < periods; i++) {%>
                    <div class="form-inline">
                        <label>Period <%= i + 1 %> : </label>
                        <select name="period<%= i + 1 %>" class="form-control">
                            <option selected="selected" value="false">Present</option>
                            <option value="true">Absent</option>
                        </select>
                    </div><br>
                    <% } %>
                    <button type="submit" class="btn btn-warning btn-lg">Add</button>
                </form>
                <hr>
                <p>Go to <a href="/profile">Profile</a>.</p>
            </div>
        </div>
    </body>
</html>