<!doctype html>
<html>
    <head>
        <title>Video Based Attendance</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style>
        body         { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span> Add Images</h1>
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <!-- LOGIN FORM -->
                <form method="post" enctype="multipart/form-data">
                    <label>Name : <%= studdata.name %></label><br>
                    <label>Username : <%= studdata.username %></label><br>
                    <div class="form-group">
                        <label for="teacher">Photos : </label>
                        <input type="file" multiple="multiple" accept="image/*" name="uploadedimages" class="btn btn-info btn-lg"/>
                    </div>
                    <input type="text" hidden name="teacher" value="<%= studdata.teacher %>">
                    <button type="submit" class="btn btn-warning btn-lg">Upload</button>
                </form>
                <hr>
                <p>Or go <a href="/">home</a>.</p>
            </div>
        </div>
    </body>
</html>