<!doctype html>
<html>
    <head>
        <title>Video Based Attendance</title>
        <script>
        function teacherRemoveConfirmation(un) {
        var flag = confirm("Are you sure you want to remove this account?");
        if(flag) {
        window.location="/teacherremove/" + un;
        }
        }
        function studentRemoveConfirmation(un) {
        var flag = confirm("Are you sure you want to remove this account?");
        if(flag) {
        window.location="/studentremove/" + un;
        }
        }
        </script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <style>
        body         { padding-top:80px; word-wrap:break-word; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Admin Panel</h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                <br><br>
                <% if (redMessage.length > 0) { %>
                <div class="alert alert-danger"><%= redMessage %></div>
                <% } %>
                <% if (greenMessage.length > 0) { %>
                <div class="alert alert-success"><%= greenMessage %></div>
                <% } %>
            </div>
            <div class="row">
                <!-- LOCAL INFORMATION -->
                <div class="well well-lg">
                    <span class="fa fa-user"></span>
                    <strong>Name </strong> : <%= admin.name %><br>
                    <strong>Username </strong> : <%= admin.username %><br>
                    <a href="/viewlog" class="btn btn-default"><span class="fa fa-file-text"></span> Logs</a>
                </div>
                <br/><br/>
                <div class="col-sm-4 well well-lg" style="background-color:yellow;">
                    <u><strong>Teacher Accounts</strong></u><br/><br/>
                    <a href="/teachersignup" class="btn btn-default"><span class="fa fa-user"></span> Create teacher account</a><br/><br/>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Dept.</th>
                            </tr>
                        </thead>
                        <% for(i in teacherdata) {%>
                        <tbody>
                            <tr>
                                <td><a href="/viewimages/<%= teacherdata[i].username %>"><%= teacherdata[i].name %></a></td>
                                <td><%= teacherdata[i].username %></td>
                                <td><%= teacherdata[i].department %></td>
                                <td><button onclick="teacherRemoveConfirmation('<%= teacherdata[i].username %>')" class="btn btn-warning btn-xs">Remove</button></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-7 col-lg-offset-1 well well-lg">
                    <u><strong>Student Accounts</strong></u><br/><br/>
                    <a href="/studentsignup" class="btn btn-default"><span class="fa fa-user"></span> Create student account</a>
                    <a href="/changeteacher" class="btn btn-default"><span class="fa fa-user"></span> Change class teachers</a>
                    <a href="/rebuildclassifiers" class="btn btn-default"><span class="fa fa-user"></span> Retrain Classifier</a><br/>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Teacher</th>
                                <th>Dept.</th>
                                <th>Images</th>
                            </tr>
                        </thead>
                        <% for(i in studentdata) {%>
                        <tbody>
                            <tr>
                                <td><a href="/viewattendance/<%= studentdata[i].username %>"><%= studentdata[i].name %></a></td>
                                <td><%= studentdata[i].username %></td>
                                <td><%= studentdata[i].teachername %> <%if (studentdata[i].teacher) {%> (<%= studentdata[i].teacher %>) <% } else { %> - <% } %></td>
                                <td><%= studentdata[i].department %></td>
                                <td><a href="/addimages/<%= studentdata[i].username %>"><%= studentdata[i].imggood %></td>
                                <td><button onclick="studentRemoveConfirmation('<%= studentdata[i].username %>')" class="btn btn-warning btn-xs">Remove</button></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>