<!doctype html>
<html>
    <head>
        <title>Video Based Attendance</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style>
        body         { padding-top:80px; }
        </style>
        <script>
        function change(un, tc)
        {
        var t = document.getElementById("t" + un);
        window.location="/changeteacher/" + un + "/" + tc + "/" + t.options[t.selectedIndex].value;
        }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1><span class="fa fa-exchange"></span> Change Class Teachers</h1>
                <br><br>
                <% if (redMessage.length > 0) { %>
                <div class="alert alert-danger"><%= redMessage %></div>
                <% } %>
                <% if (greenMessage.length > 0) { %>
                <div class="alert alert-success"><%= greenMessage %></div>
                <% } %>
            </div>
            <div class="jumbotron text-center">
                <u><strong>Students</strong></u>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Department</th>
                            <th>Teacher</th>
                        </tr>
                    </thead>
                    <% for(i in studentdata) {%>
                    <tbody>
                        <tr>
                            <td><%= studentdata[i].name %></td>
                            <td><%= studentdata[i].username %></td>
                            <td><%= studentdata[i].department %></td>
                            <td><select id="t<%= studentdata[i].username %>" class="form-control">
                                <% if(!studentdata[i].teacher) {%> <option selected="selected">Not Set</option> <% } %>
                                <% for(j in teacherdata) {%>
                                <option <% if(studentdata[i].teacher == teacherdata[j].username) {%> selected="selected" <% }%> value="<%= teacherdata[j].username %>"><%= teacherdata[j].name %> (<%= teacherdata[j].username %>)</option>
                                <% } %>
                            </select></td>
                            <td><button onclick="change('<%= studentdata[i].username %>', '<%= studentdata[i].teacher %>')" class="btn btn-warning btn-xs">Change</button></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <hr>
            <p>Go to <a href="/adminprofile">Profile</a>.</p>
        </div>
    </body>
</html>