<!doctype html>
<html>
    <head>
        <title>Video Based Attendance</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style>
        body         { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span> Student Signup</h1>
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <!-- LOGIN FORM -->
                <form action="/studentsignup" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input pattern="[a-z0-9A-Z._]{4,16}" class="form-control" name="username" title="4 to 16 characters, no spaces">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <label>Department</label>
                        <input type="text" class="form-control" name="department">
                    </div>
                    <div class="form-group">
                        <label for="teacher">Class Teacher : </label>
                        <select class="form-control" name="teacher" <%if (isTeacher) {%> disabled <% } %>>
                            <% for(i in teacher) {%>
                            <option value="<%= teacher[i].username %>" <% if(username == teacher[i].username) {%> selected="selected" <% }%>><%= teacher[i].name %> (<%= teacher[i].username %>)</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="teacher">Photos : </label>
                        <input type="file" multiple="multiple" accept="image/*" name="uploadedimages" class="btn btn-info btn-lg"/>
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                </form>
                <hr>
                <p>Or go <a href="/">home</a>.</p>
            </div>
        </div>
    </body>
</html>