<!doctype html>
<html>
    <head>
        <title>Video Based Attendance</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style>
        body         { padding-top:80px; word-wrap:break-word; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Teacher Panel</h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                <br><br>
                <% if (redMessage.length > 0) { %>
                <div class="alert alert-danger"><%= redMessage %></div>
                <% } %>
                <% if (greenMessage.length > 0) { %>
                <div class="alert alert-success"><%= greenMessage %></div>
                <% } %>
            </div>
            <div class="row">
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <span class="fa fa-user"></span>
                        <p>
                            <strong>Name </strong> : <%= teacher.name %><br>
                            <strong>Username </strong> : <%= teacher.username %><br>
                            <strong>Department </strong> : <%= teacher.department %><br><br/>
                            <a href="/viewimages/<%= teacher.username %>" class="btn btn-default"><span class="fa fa-image"></span> View Class images</a>
                            <a href="/studentsignup" class="btn btn-default"><span class="fa fa-user"></span> Create student account</a><br><br/>
                            <u><strong>Students</strong></u>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Department</th>
                                        <th>Images</th>
                                    </tr>
                                </thead>
                                <% for(i in studentdata) {%>
                                <tbody>
                                    <tr>
                                        <td><a href="/viewattendance/<%= studentdata[i].username %>"><%= studentdata[i].name %></a></td>
                                        <td><%= studentdata[i].username %></td>
                                        <td><%= studentdata[i].department %></td>
                                        <td><a href="/addimages/<%= studentdata[i].username %>"><%= studentdata[i].imggood %></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </body>
    </html>