<!doctype html>
<html>
    <head>
        <title>Video Based Attendance</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style>
        body         { padding-top:80px; word-wrap:break-word; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1><span class="fa fa-image"></span> View Class Images</h1>
                <br><br>
            </div>
            <div class="row">
            <% for (i of a ) {%>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="/getimage/<%= i %>">
                            <img src="/getimage/<%= i %>" alt="Lights" style="width:100%">
                            <div class="caption">
                                <p><%= i %></p>
                            </div>
                        </a>
                    </div>
                </div>
                <% } %>
            </div>
        </body>
    </html>