<!doctype html>
<html>
    <head>
        <title>Video Based Attendance</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style>
        body         { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1><span class="fa fa-check"></span> Attendance</h1>
                <br><br>
                <% if (greenMessage.length > 0) { %>
                <div class="alert alert-success"><%= greenMessage %></div>
                <% } %>
                <% if (redMessage.length > 0) { %>
                <div class="alert alert-danger"><%= redMessage %></div>
                <% } %>
            </div>
            <div class="jumbotron text-center">
                <u><strong><%= stud.name %></strong></u><br><br>
                <a href="/addattendance/<%= stud.username %>" class="btn btn-info btn-xs">Add record</a>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <% if (stud.attendance[0]) {%>
                            <% for (i = 0; i < stud.attendance[0].a.length; i++) { %>
                            <th>Period <%= i + 1 %></th>
                            <% } } %>
                        </tr>
                    </thead>
                    <% for(i = 0; i < stud.attendance.length; i++) {%>
                    <tbody>
                        <tr>
                            <td><%= stud.attendance[i].date.toDateString() %></td>
                            <% if (stud.attendance[i].a) { %>
                            <% for (j = 0; j < stud.attendance[i].a.length; j++) { %>
                            <td><% if(stud.attendance[i].a[j].absent == false) { %><p class="bg-success">Present</p><% } else { %><p class="bg-danger">Absent</p><% } %></td>
                            <% } }%>
                            <%if (user.accType != "S") {%>
                            <td><a href="/changeattendance/<%= stud.username %>/<%= stud.attendance[i].date.getFullYear() %>/<%= stud.attendance[i].date.getMonth() + 1 %>/<%= stud.attendance[i].date.getDate() %>" class="btn btn-warning btn-xs">Change</a></td>
                            <% } %>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <hr>
            <p>Go to <a href="/profile">Profile</a>.</p>
        </div>
    </body>
</html>